img[alt]{
	border:5px solid blue ;
	width:100%;
}

img[src="img/joey.jpg"]{
	width: 400px;
}

img[src^="i"]{
	width: 400px;
}

img[src$="jpg"]{
	width: 40px;
}

img[src*="mg/"]{
	width: 600px;
}
/* ~  indica que estos selectores estan 
separados por espacios*/
article[class~="ingles"]{
	border: 1px dashed red;

}
/*Separado por guiones*/
article[class|="ingles"]{
	font-weight: bold;
	border: 1px dashed blue;

}

div > p{ /*solo hijos directos*/
	font-weight: bold;
	color: yellow;
}

div p{ /*todos los elementos p seran seleccionados*/
	color: red;
}

/*Seleccionar solo el elemento <p> 
que esta inmediantamente despues 
del eemento <h2> - Hermano adyacente*/
/*h2+p{
	color:green;
}*/

/*Seleccionar solo el elemento <p> 
del elemento especificado(<h2>) 
- Hermano General*/
/*h2 ~ p{
	color:gray;
}*/

section:not(#referencias){
	color: hotpink;
}

li:nth-child(odd){/*impares*/
	color:green;
}

li:nth-child(even){/*impares*/
	color:blue;
}

li:nth-child(5){
	color:yellow;
}

li:nth-last-child(1){
	color:red;
}

p:first-line{
	font-weight: bold;
}
















